<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bwei.www.jingdong">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".imageLoader.App"
        android:allowBackup="true"
        android:icon="@drawable/jd_buy_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 注册SDKActivity -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1105602574" /> <!-- 开放平台获取的APPID -->
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Shouye_Activity" />
        <activity android:name=".Activity.Fragment1_Activity" />
        <activity android:name=".other.TitleimgActivity" />
        <activity android:name=".Activity.Wel_Activity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.FlGoodsListActivity" />
        <activity android:name=".Activity.FlGoodsXiangqingActivity" />
        <activity android:name=".Activity.ZhuceActivity" />
        <activity android:name=".Activity.BunnerActivity" />
        <activity android:name=".Activity.SerchActivity" />
        <activity android:name=".Activity.SetActivity" />
        <activity android:name=".Activity.GerenActivity" />
        <activity android:name=".Activity.UpDateActivity"></activity>
    </application>

</manifest>